
ul,li,a,input,h5,dt,dd,dl,span,p{
	margin: 0;
	padding: 0;
}

i{
	font-weight: 100;
	font-style: normal;
	font-size: 14px;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

body{
	background-color: #f0f3ef;
}

.style_red{
	color: #ee0e23!important;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?axvffw');
  src:  url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?axvffw') format('truetype'),
    url('../fonts/icomoon.woff?axvffw') format('woff'),
    url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.w {
	width: 1190px;
	margin: auto;
}

.fl{
	float: left;
}

.fr {
	float: right;
}

.ad-header {
	/*background-color: red;*/
	background: url(../images/header.jpg) no-repeat;
	height: 80px;
	position: relative;
}

.ad-header i{
	position: absolute;
	width: 20px;
	height: 20px;
	font-family: "icomoon";
	font-style: normal;
	color: #888888;
	right: 5px;
	top: 3px;
	font-weight: 300;
	font-size: 12px;
	/*border: 1ox solid #f5f5f5;*/
	/*border-radius: 50%;*/
	/*background-color: #888888;*/
}

.J_nav{
	height: 32px;
	line-height: 32px;
	background-color: #e3e4e5;
	border: 1px solid #dddddd;
	position: relative;
}

.nav_local i{
	font-family: "icomoon";
	font-style: normal;
	color: red;
	margin-left: 210px;
}

.nav_local a{
	font-size: 13px;
	color: #aeaead;
}
.nav_item{
	padding-right: 10px;
}
.nav_item li{
	float: left;
}

.nav_item li a{
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	color: #999999;
	font-weight: 400;	
	font-style: normal;
}

.nav_item li i:hover{
	color: red;
}

.nav_item li a i {
	font-family: "icomoon";
	font-style: normal;
	width: 10px;
	height: 10px;
	font-size: 13px;
	font-weight: 400;
	color: #9e9e9e;
}

.spacer{
	width: 1px;
	height: 10px;
	background-color: #ccc;
	margin: 10px 10px 0;
}


.qrcode{
	position: absolute;
	top: 35px;
	right: 0px;
	width: 60px;
	height: 60px;
	background: url(../images/mobile.png) no-repeat;
}

/* top */
.top{
	height: 150px;
	position: relative;
}

.top .logo{
	/*z-index: 1;*/
	position: absolute;
	top: -33px;
	left: 0px;
	width: 200px;
	height: 182px;
	background: url(../images/logo.jpg);
	background-color: #fff;
}
/*搜索框*/
.searchBar{
	position: absolute;
	background-color: #fff;
	top: 27px;
	left: 280px;
	width: 635px;
	height: 35px;
	border: 1px solid #f0f3ef;
}

.searchBar input{
	position: absolute;
	right: 50;
	bottom: 15;
	width: 535px;
	height: 35px;
	line-height: 35px;
	color: #aeaead;
	border-style: none;
	text-indent: 0.5em;
	outline: none;
}

.camer{
	position: absolute;
	right: 45px;
	bottom: 7px;
	width: 25px;
	height: 18px;
	background: url(../images/sprite-search.png) no-repeat;
}

.camer:hover{
	background-position: -30px 0px;
}


.search{
	position: absolute;
	background-color: #ee0e23;
	right: 0;
	bottom: 0;
	width: 30px;
	height: 27px;
	/*text-align: center;*/
	padding-top: 8px;
	padding-left: 8px;
}

.search i{
	font-family: "icomoon";
	color: #fff;
	font-size: 18px;

}


/*快速导航栏*/
.navDesc{
	position: absolute;
	top: 70px;
	left: 280px;
	width: 630px;
	height: 35px;
}
/*购物车*/
.shop{
	position: absolute;
	right: 120px;
	top: 28px;
	width: 140px;
	height: 35px;
	border: 1px solid #f0f3ef;
	background-color: #fff;
}
.shop i{
	font-family: "icomoon";
	color: #ee0e23;
	font-size: 13px;
}

.shop a{
	position: absolute;
	left: 15px;
	top: 0px;
	width: 90px;
	height: 35px;
	line-height: 35px;
	color: #ee0e23;
	font-size: 13px;
}

.shop h5{
	background-color: #ee0e23;
	border-radius: 8px;
	color: #fff;
	position: absolute;
	left:96px;
	top: 0px;
	font-size: 10px;
	font-weight: 500;
	padding: 0px 4px 0px;
}

.navDesc li {
	width: 70px;
	float: left;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.navDesc a{
	font-size: 12px;
	color: #aeaead;
}

.navDesc a:hover{
	color: #ee0e23;
}

.fast_a{
	position: absolute;
	left: 185px;
	bottom: 3px;
	width: 800px;
	height: 40px;
}
.fast_a li{
	float: left;
	width: 10%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.fast_a li a {
	font-size: 15px;
	text-align: center;
	color: #333333;
}
.fast_a li a:hover {
	color: #ee0e23;
}


.top_ad{
	position: absolute;
	right: 5px;
	bottom: 3px;
	width: 190px;
	height: 40px;
	background: url(../images/computer.jpg) no-repeat;
}

/* 底部 footer */
.footer{
	height: 550px;
}

.footer_top{
	height: 102px;
	border-bottom: 1px solid #dddddd;
	padding-top: 25px;
}

.footer_top li {
	float: left;
}

.footer_top .category{
	width: 225px;
	height: 42px;
	margin-left: 45px;
	margin-top: 30px;
	position: relative;
}

.footer_top .category h5{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 36px;
	height: 42px;
	background: url(../images/ico.png) 0 0;
	text-indent: -999px;
}

.footer_top .category a{
	display: block;
	position: absolute;
	left: 44px;
	top: 10px;
	color: #444444;
	font-weight: 700;
	font-size: 15px;
}

.footer_top .category h5.fast{
	background-position: 0px -43px;
}

.footer_top .category h5.well{
	background-position: 0px -86px;
}

.footer_top .category h5.cheap{
	background-position: 0px -128px;
}

/* 底部中间部分 */
.footer_center{
	height: 200px;
	padding-top: 30px;
}
.footer_center dl{
	width: 195px;
	float: left;
}
.footer_center .last{
	width: 200px;
}
.footer_center .last dt{
	text-align: center;
}
.footer_center .last span{
	font-size: 12px;
	color: #999999;
	line-height: 15px;
	display: inline-block;
}
.footer_center .last .footer_detail{
	text-align: right;
}

.footer_center dl dt{
	margin-bottom: 5px;
}
.footer_center dl dd{
	line-height: 18px;
}
.footer_center dl a{
	color: #7b7c7b;
	font-size: 12px;	
	font-weight: 300;
}
.footer_center dl a:hover{
	color: #ee0e23;
}

/* 底部下面导航栏目 */
.footer_bottom{
	border-top: 1px solid #dddddd;
	height: 225px;
}

.footer_copyright{
	margin-left: 100px;
	height: 30px;
	margin-top: 20px;
}

.footer_copyright ul{

}

.footer_copyright ul li, span{
	float: left;
}

.footer_copyright ul span{
	padding: 3px 8px 0px;
/*	line-height: 10px;
	height: 10px;*/
	font-size: 10px;
	color: #aaaaaa;
}

.footer_copyright ul li a{
	color: #7b7c7b;
	font-size: 12px;	
	font-weight: 300;
}
.footer_copyright ul li a:hover{
	color: #ee0e23;
}

.footer_desc{

}
.footer_1{
	text-align: center;
}
.footer_1 p{
	line-height: 18px;
	height: 18px;
	font-size: 12px;
	color: #999999;
}
.footer_part{
	margin-top: 20px;
	height: 40px;
	text-align: center;
}
.footer_part a {
	margin: 0 15px;
	display: inline-block;
	width: 100px;
	height: 33px;
	background: url(../images/ico_footer.png) no-repeat 0px -151px;
}

.footer_part .foot_part_1{
	background-position: 0px -184px;
}

.footer_part .foot_part_2{
	background-position: 0px -217px;
}

.footer_part .foot_part_3{
	background-position: -104px -151px;
}

.footer_part .foot_part_4{
	background-position: -104px -184px;
}

.footer_part .foot_part_5{
	background-position: -104px -217px;
}


